
.main {
    position: fixed;
    bottom: 10px;
    right: 10px;
    height: 32px;
    width: 32px;
    border: 1px solid #48d4d4;
    border-radius: 5px;
    box-shadow: 0px 0px 2px #48d4d4;
    box-sizing: border-box;
    overflow: hidden;
    background: #f5f7fa;
    transition: all 1000ms;
}

.main-card{
    width: auto !important;
    left: 10px;
    height: 40% !important;
}

@media only screen and (min-width : 768px) {
    .main-card{
        width: 50% !important;
        left: unset;
    }
}
@media only screen and (min-width : 992px) {
    .main-card{
        width: 40% !important;
        left: unset;
    }
}

.arrow-down:hover{
    background: #48d4d438;
}

.arrow-down-img{
    width: 30px;
    cursor: pointer;
}