@import url('https://fonts.googleapis.com/css?family=Work+Sans&display=swap');
body {
    font-family: 'Work Sans';
}

html {
    scroll-behavior: smooth;
}

form .form-label {
    font-weight: 600;
    padding: 16px 0px;
    border-top: 1px solid grey;
    width: 100%;
}

form select,
form .form-check {
    margin-left: 16px;
    width: auto !important;
}

.logoAdjust {
    height: 30px;
    padding-right: 15px;
}

.bfLightBtn {
    color: black !important;
    background-color: white !important;
    border-color: white !important;
}

.bfDarkBtn {
    color: white !important;
    background-color: black !important;
    border-color: black !important;
}

.fsNavbar,
.alert-dark.fs-alert,
.fsNavbar .dropdown-menu,
.fsNavbar .nav-dropdown {
    background-color: #343434;
}

.fsNavbar .dropdown-menu .dropdown-item {
    color: white !important;
}

.fsNavbar .dropdown-menu .dropdown-item:hover {
    background-color: #de436f !important;
}

.dropdown-item.active {
    background-color: inherit !important;
    font-weight: 600;
}

.modal-content {
    background-color: #343434 !important;
    color: white !important;
}

.modal-header,
.modal-footer {
    border: none !important;
}

.fsNavbar .nav-link,
.fsNavbar .navbar-brand,
.modal-content a {
    color: #ffffff !important;
}

.fsContainer {
    background-color: #272727;
    padding-top: 55px;
}

.alert-dark.fs-alert {
    color: #ffffff;
    border-color: #343434;
    border-radius: 4px;
}

.alert-info.fs-alert {
    color: #ffffff;
    border-radius: 4px;
    border: solid 1px #4f4f4f;
    background-color: #343434;
}

.fsAnchor {
    display: block;
    position: relative;
    top: -80px;
    visibility: hidden;
}

.qaHeader {
    top: 56px !important;
    height: 30px;
    background: blueviolet;
    opacity: 0.8;
}
