name: NPM CD
on:
  push:
    tags: 
      - "5.[0-9]+.[0-9]+"

permissions:
  id-token: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Enable Corepack
        run: corepack enable
      - name: Set Yarn Version
        run: corepack prepare yarn@4.7.0 --activate
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: '23.x'
          registry-url: 'https://registry.npmjs.org'
          cache: "yarn"
          cache-dependency-path: yarn.lock
      - name: Install modules
        run: yarn install
      - run: yarn test --coverage
      - run: yarn build --provenance --access public
      - run: npm publish
