name: NPM CD
on:
  push:
    tags: 
      - "5.[0-9]+.[0-9]+"

permissions:
  id-token: write
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Enable Corepack
        run: corepack enable
      - name: Set Yarn Version
        run: corepack prepare yarn@4.7.0 --activate
      - name: Use Node.js 24.x
        uses: actions/setup-node@v4
        with:
          node-version: '24.x'
          registry-url: 'https://registry.npmjs.org'
          cache: "yarn"
          cache-dependency-path: yarn.lock
      - name: Install modules
        run: yarn install
      - run: yarn test
      - run: yarn build
      - name: Publish to npm with OIDC
        run: NODE_AUTH_TOKEN="" npm publish --provenance --access public
